/* Estilizar la barra de desplazamiento */
::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra */
    height: 8px;
  }
  
  /* Color del fondo de la barra */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Color del "pulgar" de la barra */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Cuando el usuario pase el mouse sobre la barra */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  