<form class="w-full" [formGroup]="form">
    <div class="flex flex-col w-full">
        <span class="flex font-medium ml-4"> Fecha </span>
        <input formControlName="Fecha" id="Fecha" type="date"
            class="border open-sans border-gray-300 rounded-md h-10 xl:h-8 2xl:h-10 my-2 xl:my-1 xl:m-2 m-4 pl-2" />
        <span class="flex font-medium ml-4"> Unidad </span>
        <select formControlName="Unidad" id="Unidad"
            class="border open-sans border-gray-300 rounded-md h-10 xl:h-8 2xl:h-10 my-2 xl:my-1 xl:m-2 m-4 pl-2">
            <option value="0">Selecciona una opción</option>
            @for (unidad of unidades; track unidad.unidad) {
            <option value="{{unidad.unidad}}">{{ unidad.unidad }}</option>
            }
        </select>
        <span class="flex font-medium ml-4"> Banco </span>
        <select formControlName="Banco" id="Banco"
            class="border open-sans border-gray-300 rounded-md h-10 xl:h-8 2xl:h-10 my-2 xl:my-1 xl:m-2 m-4 pl-2">
            <option value="0">Selecciona una opción</option>
            @for (banco of bancos; track banco.banco) {
            <option value="{{banco.banco}}">{{ banco.banco }}</option>
            }
        </select>
        <span class="flex font-medium ml-4"> Cuenta </span>
        <input formControlName="Cuenta" id="Cuenta" type="text"
            class="border open-sans border-gray-300 rounded-md h-10 xl:h-8 2xl:h-10 my-2 xl:my-1 xl:m-2 m-4 pl-2" />
        <span class="flex font-medium ml-4"> Tipo </span>
        <select formControlName="Tipo" id="Tipo"
            class="border open-sans border-gray-300 rounded-md h-10 xl:h-8 2xl:h-10 my-2 xl:my-1 xl:m-2 m-4 pl-2">
            @for (tipo of tipoOpciones; track tipo.value) {
            <option value="{{tipo.value}}">{{ tipo.value }}</option>
            }
        </select>
        <span class="flex font-medium ml-4"> Importe </span>
        <input (wheel)="preventScroll($event)" formControlName="Importe" id="Importe" type="number"
            class="border open-sans border-gray-300 rounded-md h-10 xl:h-8 2xl:h-10 my-2 xl:my-1 xl:m-2 m-4 pl-2" />
        <div class="flex flex-row items-center justify-center mt-2">
            <div (click)="postDeposito()"
                class="cursor-pointer bg-sky-950 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded w-1/2 flex flex-row items-center justify-center mr-2">
                Guardar
            </div>
        </div>

    </div>
</form>