<div class="h-full w-full">

    <button (click)="showAddValores = true"
        class='mt-2 bg-sky-950 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded w-full flex flex-row items-center justify-center mr-2'>
        Agregar
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
    </button>
    @if(showAddValores){
     <AgregarValores (showAddValores)="showAddValores=false"/> 
    }
    @if(!showAddValores){

    <h1 class="text-2xl">Lista de Valores</h1>
    <ValoresTableComponent />   
    }
</div>