<div class="h-full w-full">

    <button (click)="showAddMarcas = true"
        class='mt-2 bg-sky-950 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded w-full flex flex-row items-center justify-center mr-2'>
        Agregar
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
    </button>
    @if(showAddMarcas){
        <form class="w-full">
            <div class="flex flex-col w-full">
                <span class="flex font-medium ml-4"> Nombre de la Marca </span>
                <input type="text"
                class="border open-sans border-gray-300 rounded-md h-10 xl:h-8 2xl:h-10 my-2 xl:my-1 xl:m-2 m-4 pl-2" />
            </div>
            <div class="flex flex-col w-full">
                <span class="flex font-medium ml-4"> Descripción </span>
                <textarea
                class="border open-sans border-gray-300 rounded-md h-20 xl:h-16 2xl:h-20 my-2 xl:my-1 xl:m-2 m-4 pl-2"></textarea>
            </div>
            <div class="flex flex-row items-center justify-center">
                <div>
                    Cancelar
                </div>
                <div>
            Guardar
        </div>
    </div>
    
</form>

}
@if(!showAddMarcas){
<h1 class="text-2xl">Lista de Marcas</h1>
}
</div>