<div className='h-screen flex flex-grow flex-col'>
    <app-sidebar />
      <main class="p-10">
            <h1 class="text-4xl">Bienvenido {{usuario}} </h1>

            <h2 class="text-2xl">Accesos directos</h2>
            <div class="flex flex-row items-center justify-center gap-2">

                <div class='grid gap-1 grid-cols-1 w-full '>
                    <CardActions texto="Editar campos" />
                    <CardActions />
                </div>
                <div class='grid gap-1 grid-cols-1 w-full '>
                    <CardActions texto="Editar campos" />
                    <CardActions />
                </div>
            </div>
        </main>
</div>